<div id="wrapper">

    <div id="content-wrapper">
    
        <div class="container-fluid" style="margin-bottom: 50px;">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb" style="margin-top: 60px;">
                <li class="breadcrumb-item">
                    <a href="dashboard">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Schedule Meeting</li>
            </ol>
        
            <div class="row" style="padding: 15px;">
                <h3>Schedule a New Meeting</h3>
            </div>

            <hr>

            <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Schedule Meeting</div>
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-12">
                              <div class="form-label-group">
                                <input (blur)="validateTitle()" [(ngModel)]="meeting.meetingTitle" [ngModelOptions]="{standalone: true}" type="text" id="meetingTitle" class="form-control" placeholder="Meeting Title" required="required" autofocus="autofocus">
                                <label for="meetingTitle">Title</label>
                                <small *ngIf="!validNameFlag" style="color: red;">Invalid Title Entered</small>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-12">
                              <div class="form-label-group">
                                <input [(ngModel)]="meeting.location" [ngModelOptions]="{standalone: true}" type="text" id="meetingLocation" class="form-control" placeholder="Location" required="required">
                                <label for="meetingLocation">Location</label>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="form-row">
                              <div class="col-md-12">
                                  <div class="form-label-group">
                                      <input (blur)="validateStartTime()" [(ngModel)]="meeting.startTime" [ngModelOptions]="{standalone: true}" type="datetime-local" id="startTime" class="form-control" placeholder="Start Time" required="required">
                                      <label for="startTime">Start Time</label>
                                      <small *ngIf="!validStartTimeFlag" style="color: red;">Invalid Time Entered</small>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        <input (blur)="validateEndTime()" [(ngModel)]="meeting.endTime" [ngModelOptions]="{standalone: true}" type="datetime-local" id="endTime" class="form-control" placeholder="End Time" required="required">
                                        <label for="endTime">End Time</label>
                                        <small *ngIf="!validEndTimeFlag" style="color: red;">Invalid Time Entered</small>
                                    </div>
                                </div>
                            </div>
                      </div>
                      <hr>
                      Search Participants:
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-10">
                            <div class="form-label-group">
                              <input [(ngModel)]="nameSearchText" [ngModelOptions]="{standalone: true}" type="text" id="empName" class="form-control" placeholder="Search By Emp Name">
                              <label for="empName">Employee Name Search</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-block btn-success" (click)="searchByName()">Search</button>
                          </div>
                        </div>
                        <div *ngIf="empNameFound" class="form-row">
                          <table>
                            <tr>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Phone</th>
                              <th>Email</th>
                            </tr>
                            <tr *ngFor="let empFound of empListFound">
                              <td>{{empFound.empId}}</td>
                              <td>{{empFound.empName}}</td>
                              <td>{{empFound.empPhone}}</td>
                              <td>{{empFound.empEmail}}</td>
                              <td>
                                <button class="btn btn-block btn-info" (click)="addParticipant(empFound.empId)">Add</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="col-md-10">
                            <div class="form-label-group">
                              <input [(ngModel)]="emailSearchText" [ngModelOptions]="{standalone: true}" type="email" id="empEmail" class="form-control" placeholder="Search By Emp Email">
                              <label for="empName">Employee Email Search</label>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <button class="btn btn-block btn-success" (click)="searchByEmail()">Search</button>
                          </div>
                        </div>
                        <div *ngIf="empEmailFound" class="form-row">
                          <table>
                            <tr>
                              <th>Id</th>
                              <th>Name</th>
                              <th>Phone</th>
                              <th>Email</th>
                            </tr>
                            <tr>
                              <td>{{empFound.empId}}</td>
                              <td>{{empFound.empName}}</td>
                              <td>{{empFound.empPhone}}</td>
                              <td>{{empFound.empEmail}}</td>
                              <td>
                                <button class="btn btn-block btn-info" (click)="addParticipant(empFound.empId)">Add</button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <button [disabled]="buttonDisable" class="btn btn-primary btn-block" (click)="addMeeting()">Schedule</button>
                      </form>
                      <div class="text-center">
                        <br>
                        All meeting participants will be sent an invite and you will be notified of their status.
                      </div>
                    </div>
                  </div>
    
        </div>
        <!-- /.container-fluid -->
      
    </div>
    <!-- /.content-wrapper -->
      
</div>
<!-- /#wrapper -->